body{
    display: flex;
    flex-direction: column;
    gap:16px;
    margin:0px;
    font-family: 'Roboto', sans-serif;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerLinks{
    display: flex;
    gap: 16px;
}

.top{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
}

.top, footer{
    background-color:#1f2937;
}

.logo, .title{
    color: #F9faf8;
}

.logo{
    font-size: 24px;
}
.title{
    font-size: 48px;
    font-weight: extra-bold;
}

p{
    margin-top: 0px;
    margin-bottom: 0px;
}

.headerLinks, .text{
    font-size: 18px;
    color:#E5E7EB;;
}

a:link{
    text-decoration: none;
    color: #E5E7EB;
}

a:visited{
    color: #E5E7EB;   
}

.companyImg, .testamonial{
    background-color:#E5E7EB ;
}
.titleContent{
    display: flex;
    gap: 16px;
}

.leftContent{
    display: flex;
    flex-direction: column;
    
}

.infoTitle{
    font-size: 36px;
    color: #1f2937;
}
.testamonial{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15%;
    padding-right: 15%;
}
blockquote{
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}

.actionTime{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.actionItem{
    background-color: #3882f6;
    display: flex;
    gap: 8px;
    width: 80%;
}

.actionBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.actionTitle{
    color: #F9faf8;
    font-size: 24px;
}

.actionText{
    color: #E5E7EB; 
}

button{
    background-color: #3882f6;
    color: #F9faf8;
    padding: 8px;
    border-radius: 5px;
    font-size: 18px;
}
.sgnupBtn{
    border: #F9faf8 solid;
    
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
}